coverage==4.5.1
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.6
Flask-SQLAlchemy==2.3.2
PyMySQL==0.9.2
pytest==3.9.3
SQLAlchemy==1.2.12
flake8==3.6.0
flake8-quotes==1.0.0
numpy==1.15.3
pandas==0.23.4
TA-Lib==1.15.3
Flask_SocketIO==3.0.0
psycopg2-binary==2.7.6.1
websocket-client==0.54.0
